.body {
  height: 100vh;
  margin: 0;
  /* display: grid; */
  place-items: center;

}

.add-item-row {
  border: 1px solid;
  border-color: #575151;
  padding: 5px;
}

.add-item-box {
  height: 2rem;
  margin : 0 1rem 0 0;
  place-items: center;

}
.item-row-container {
  /* max-width: 50%; */
  display:flex;
  flex-direction: column;

}
.item-row {
  display: flex;
  flex-direction: row;
  min-width: 50%;
  justify-content:space-between;

}

li {
  display: flex;
  flex-direction: row;
  /* max-width: 25%; */
}

.item-action-buttons {
  display: flex;
  flex-direction: row;
  /* justify-content:space-between; */
}

.item-row .action-button {
  padding: 1px;
  visibility:hidden;
}

.item-row:hover .action-button
{
  visibility:visible;
}

#edit-button {
  color: gold;
}

#save-button {
  color: #0070b8;
}

#delete-button {
  color: red;
  background-color: white;
  padding: 1 1 1 1;
  border-color: white;
}
.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-check-input {
  display: flex;
  align-self: center;
  place-items: center;
  width: 2rem;
  height: 2rem;
  margin : 0 0 0 0;
}

.item-name-div {
  inline-size: 75%;
  overflow-wrap: break-word;
  /* min-width: 300px; */
  max-width: 63%;
  padding: 1px;
}

.recur-info {
  font-size: 12px;
  font-style: italic;
  color: #FEB062;
}

#recur-button {
  color: #FEB062;
  display: center;
}

.list-container {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.list-element {
  padding: 40px;
}

.list-button {
  margin: 2px;
}

.logo  { 
  max-width: 65%;
  display: flex; 
  justify-content:right; 
  padding: 10px;
}

.description  { 
  max-width: 60%;
  display: flex;
  justify-content:right;
  padding: 10px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

footer {
  background-color:#FEB062;
  /* padding: 5px 5px 5px 5px; */
}

.orange-background {
  color: #131313; 
  background-color: #FEB062;
}

a {
  color: #277967;
  }

a:hover {
  color:white;
}

.items-body{
  padding: 10px;
  border:solid;
  border-color: #FEB062;
  background-color: white;
}


.sign-in-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: white;
  text-align: center;
}
.sign-in-box {
  display: flex;
  background-color: #FEB062;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  width: 35rem;
  margin: 40px;
  line-height: 75px;
  font-size: 30px;
  height: 10rem;

}

.social-buttons {
  display: flex;
  flex-direction: row-reverse;

}

.header-body {
  display: flex;
  /* padding-left: 150px;
  padding-right: 150px; */
  justify-content: center;
}

.app-wrapper {
  max-width: 75%;
}

.create-new-list-button {
  display: flex;
  margin-right: 100px;
}

.items-container {
  padding-top: 15px;
  width: 100%; 
  border-collapse: collapse; 
}

td, th { 
  padding: 6px; 
  border: 1pxsolid transparent; 
  text-align: left; 
}



.due-date-title {
  color: #277967;
  font-style: italic;
  font-size: 12px;
  max-height: 20px;
  min-height: 20px;
}

.list-title {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  text-align: center;
  font-size:14px;
}


.list-name {
  font-weight: bold;
  max-height: 20px;
  max-width: 100px;
  overflow: hidden;  
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-name:hover {
  overflow: visible;

}

.log-out-button {
  background-color: #FEB062;
}

/* Edit later */
.add-item {
  display: flex;
}

input.add-item-box {
  flex: 1;
}

.items-container {
  max-width: 600px;
}

.add-item-section {
  margin-bottom: 15px;
}

.list-items-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-item {
  align-items: center;
}

.list-items-header {
  margin-bottom: 15px;
}