.body {
  height: 100vh;
  margin: 0;
  /* display: grid; */
  place-items: center;
}
.add-item {
  width: 70rem;
  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
}

.add-item-box {
  width: 25rem;
  height: 2rem;
  margin : 0 1rem 0 0;
  place-items: center;
}