.body {
  height: 100vh;
  margin: 0;
  /* display: grid; */
  place-items: center;
}
.add-item {
  width: 70rem;
}

.add-item-box {
  width: 25rem;
  height: 2rem;
  margin : 0 1rem 0 0;
  place-items: center;
}

.header-row, .item-row {
  width: 25rem;
}

.form-check-input {
  place-items: center;
  width: 2rem;
  height: 2rem;
  margin : 0 0 0 0;
}

.item-div {
  inline-size: 150px;
  overflow-wrap: break-word;
}

#delete-button {
  color:white;
}

#recur-button {
  background-color: #FEB062;
  color: #2B2B2B;
  border: #FEB062;
  display: center;
  /* color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; */
}

.list-container {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.list-element {
  padding: 40px;
}

.list-button {
  margin: 2px;
}

.list-name {
  font-weight: bold;
  text-align: center;
}